<div class="container top-spacing">
    <div class="well shadow form-container">
        <div class="jumbotron">
            <h2 class="text-center"><%= link_to @store.name, store_path(@store) %></h2>
        </div>
        <%= render "form" %>
    </div>
</div>