/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-sprockets';
@import 'bootstrap-datetimepicker';

body {
    font-family: Roboto;
    //background-color: lightslategrey;
    //background-image: url("pink_dust.png");
    font-size: 16px;
    font-weight: 300;
    color: #555;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    
}


h1 {
  font-size: 3em;
}

h2 {
    font-size: 2.5em;
}


.shadow {
    -webkit-box-shadow: 0px 11px 9px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 11px 9px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 11px 9px 0px rgba(0, 0, 0, 0.2);
}
.alert {
    top: 10px;
}

ul {
  list-style: none;
}

/* Forms */

.form-container {
  max-width: 500px;
  min-width: 335px;
  margin: auto;
}

form .date-select {
  width: 30%;
  display: inline-block;
}

#flash {
  z-index: 1;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  margin: auto;
}

.field-text {
    font-size: 15;
    font-style: italic;
}

div.logo {
  margin-bottom: 10px;
}


.btnblock {
  width: 100%;
  margin-top: 20px;
}

/* Navbar */


a.navbar-brand {
  padding-top: 25px;
}

.navbar-btn {
  color: white !important;
}


/* Title  */

div.title {
  position: relative;
}

div.title img {
  margin-bottom: 20px;
}

div.title h2 {
  //float: left;
  display: inline-block;
}

div.title p {
  //position: absolute;
  //right: 2px;
  color: #d4d4d4;
  margin-top: -35px;
  font-size: 3.5em;
  
}

.inline-chkbox {
  float: left;
  margin: 4px 7px 0px 0px !important; 
}

.jumbotron h4 {
  margin-top: 20px;
  font-size: 1.4em;
}

.jumbotron p {
  margin-bottom: -20px;
}

/* Common Table Styles */

table {
  font-size: 1.2em;
}

.store-icon {
  position: absolute;
}

.table-link {
  padding-left: 40px;
}

/* Section Users Table */

section.users-table tr td:first-child{
  /* User icons */
  width: 30px;
  color: #1e1e1e;
  font-size: 1.5em;
  padding: 15px 0px;
  
}


/* Section Stores Table */

section.stores-table {
}

section.stores-table tr td {
  
  -webkit-tap-highlight-color: #fff;
}

section.stores-table tr td {
  padding: 20px 0px;
}



section.stores-table tr td a{
  //display: none;
  width: 100%;
}

section.stores-table tr td a:hover{
  cursor: pointer;
  text-decoration: none;
}


/* Section Reports Table */

section.reports-table {
}

section.reports-table .delete-report {
  display: none;
}

section.reports-table ul li:hover .delete-report {
  display: inline-block;
  
}

section.reports-table ul li {
  list-style: none;
  padding: 10px 0px;
}

section.reports-table label {
  background: white;
  outline: none;
  text-align: left;
  color: #337ab7;
}

section.reports-table label.btn {
  font-size: 1em;
}

section.reports-table label span.glyphicon {
  //font-size: .6em;
}

section.reports-table label span.glyphicon {
  color: #555;
  font-size: .8em;
  //border: 1px solid #ababab;
  //border-radius: 4px;
  //padding: 2px;
  //padding-top: 4px;
}

section.reports-table label:active {
  outline: none;
  color: grey;
  -webkit-box-shadow: none;
  -box-shadow: none;
}

section.reports-table div.reports-group-container {
  margin: 0px;
  width: 100%;
}

section.reports-table aside.reports-group {
  display: inline-block;
}


/* Navbar breaks at 766 */

@media screen and (max-width: 766px) {
  /* SMALLER than 766 */
    .navbar-btn {
      float: right;
      margin-right: 15px;
    }
    
    a.navbar-brand {
      padding-top: 15px;
    }
    
}

@media screen and (max-width: 530px) {
  
  div.title h2 {
    display: inline-block;
    font-size: 1.5em;
  }
  
  div.title img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 766px) {
 /* BIGGER than 766 */
 
 
 #flash {
   width: 50%;
   max-width: 570px;
 }
 
  
}


@media screen and (min-width: 1000px) {
 /* BIGGER than 1000 */
 
 .content {
   /* container for wide content, non-form related */
   width: 55%;
   margin: auto;
   max-width: 900px;
 }
  
}


/* Style transformations */
.transf {
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    display:inline-block;
    transform:rotateX(180deg);
}

.rotate{
    -moz-transition: all .15s linear;
    -webkit-transition: all .15s linear;
    transition: all .15s linear;
}

.rotate.down{
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}