<div class="container top-spacing">
    <div class="well shadow form-container">
        <div class="jumbotron">
            <h2 class="text-center"><%= @report.display_name %></h2>
            <h4 class="text-center"><%= @report.filename %></h4>
        </div>
        <%= render "form" %>
    </div>
</div>